body, div, img, nav, ul, li, a, table, tr, td, form, input, label, button {
    margin: 0;
    padding: 0;
    border: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:after, form:after, nav:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#MainBody{
    width: 454px;
    height: 432px;
    font-family: "Arial" sans-serif;
    font-size: 14px;
    
    background: #d5e8fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #d5e8fc 0%, #d4e8fc 9%, #d7eafc 12%, #f1f8fe 24%, #ecf5fd 25%, #c9e2fc 25%, #c4e0fc 25%, #bbdbfb 33%, #b9dafb 42%, #b1d2f4 49%, #b2d4f6 81%, #b0cff2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e8fc), color-stop(9%,#d4e8fc), color-stop(12%,#d7eafc), color-stop(24%,#f1f8fe), color-stop(25%,#ecf5fd), color-stop(25%,#c9e2fc), color-stop(25%,#c4e0fc), color-stop(33%,#bbdbfb), color-stop(42%,#b9dafb), color-stop(49%,#b1d2f4), color-stop(81%,#b2d4f6), color-stop(100%,#b0cff2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d5e8fc 0%,#d4e8fc 9%,#d7eafc 12%,#f1f8fe 24%,#ecf5fd 25%,#c9e2fc 25%,#c4e0fc 25%,#bbdbfb 33%,#b9dafb 42%,#b1d2f4 49%,#b2d4f6 81%,#b0cff2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d5e8fc 0%,#d4e8fc 9%,#d7eafc 12%,#f1f8fe 24%,#ecf5fd 25%,#c9e2fc 25%,#c4e0fc 25%,#bbdbfb 33%,#b9dafb 42%,#b1d2f4 49%,#b2d4f6 81%,#b0cff2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d5e8fc 0%,#d4e8fc 9%,#d7eafc 12%,#f1f8fe 24%,#ecf5fd 25%,#c9e2fc 25%,#c4e0fc 25%,#bbdbfb 33%,#b9dafb 42%,#b1d2f4 49%,#b2d4f6 81%,#b0cff2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d5e8fc 0%,#d4e8fc 9%,#d7eafc 12%,#f1f8fe 24%,#ecf5fd 25%,#c9e2fc 25%,#c4e0fc 25%,#bbdbfb 33%,#b9dafb 42%,#b1d2f4 49%,#b2d4f6 81%,#b0cff2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e8fc', endColorstr='#b0cff2',GradientType=0 ); /* IE6-9 */
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.block {
    display: block;
}

.border {
    border-style: solid;
    border-color: #b8c2cf;
    border-width: 2px;
    border-radius: 2px;
}

:disabled {
    background-color:transparent;
    background-image: none;
    background-color: #d9e4f1;
}

ul {
    list-style-type: none;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e6eaf5 33%, #d9dfef 39%, #d2daed 44%, #e0e5f5 94%, #e4e9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(33%,#e6eaf5), color-stop(39%,#d9dfef), color-stop(44%,#d2daed), color-stop(94%,#e0e5f5), color-stop(100%,#e4e9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e6eaf5 33%,#d9dfef 39%,#d2daed 44%,#e0e5f5 94%,#e4e9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e6eaf5 33%,#d9dfef 39%,#d2daed 44%,#e0e5f5 94%,#e4e9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e6eaf5 33%,#d9dfef 39%,#d2daed 44%,#e0e5f5 94%,#e4e9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e6eaf5 33%,#d9dfef 39%,#d2daed 44%,#e0e5f5 94%,#e4e9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e9f9',GradientType=0 ); /* IE6-9 */
}

li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    
}

a {
    text-decoration: none;
    color: inherit;
}

li:hover:first-letter {
    text-decoration: underline;
}

nav {
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

form {
    width: 54px;
    height: 90px;
    padding-right: 11px;
    padding-left: 5px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-right: 4px
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    width: 33px;
    height: 30px;
    margin: 2px 2.8px;
    vertical-align: top;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7fbff 4%, #f0f4f8 38%, #e7edf5 50%, #e7edf5 58%, #eff7fc 92%, #f6feff 96%, #e5eef4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#f7fbff), color-stop(38%,#f0f4f8), color-stop(50%,#e7edf5), color-stop(58%,#e7edf5), color-stop(92%,#eff7fc), color-stop(96%,#f6feff), color-stop(100%,#e5eef4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7fbff 4%,#f0f4f8 38%,#e7edf5 50%,#e7edf5 58%,#eff7fc 92%,#f6feff 96%,#e5eef4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f7fbff 4%,#f0f4f8 38%,#e7edf5 50%,#e7edf5 58%,#eff7fc 92%,#f6feff 96%,#e5eef4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f7fbff 4%,#f0f4f8 38%,#e7edf5 50%,#e7edf5 58%,#eff7fc 92%,#f6feff 96%,#e5eef4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f7fbff 4%,#f0f4f8 38%,#e7edf5 50%,#e7edf5 58%,#eff7fc 92%,#f6feff 96%,#e5eef4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5eef4',GradientType=0 ); /* IE6-9 */
}

table {
    margin: 4px;
}

td {
    padding-left: 8px;
    padding-right: 9px;
}

#Calculator {
    margin: 8px;
    height: 390px;
}

#Result {
    padding-top: 18px;
    padding-bottom: 8px;
    padding-right: 5px;
    font-size: 1.4rem;
    text-align: right;
    margin: 10px;
    
    background: #e4eefb; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4eefb 0%, #e7f0fb 24%, #f8fafe 64%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4eefb), color-stop(24%,#e7f0fb), color-stop(64%,#f8fafe), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4eefb 0%,#e7f0fb 24%,#f8fafe 64%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4eefb 0%,#e7f0fb 24%,#f8fafe 64%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4eefb 0%,#e7f0fb 24%,#f8fafe 64%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4eefb 0%,#e7f0fb 24%,#f8fafe 64%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4eefb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#Zero {
    width: 75px;
}

#Equal {
    height: 64px;
}

#last-row{
    position: absolute;
    left: 88px;
    bottom: 12px;
}

#Main {
    height: 364px;
    
    background: #edf4fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #edf4fd 0%, #d9e4f1 23%, #dae5f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf4fd), color-stop(23%,#d9e4f1), color-stop(100%,#dae5f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #edf4fd 0%,#d9e4f1 23%,#dae5f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #edf4fd 0%,#d9e4f1 23%,#dae5f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #edf4fd 0%,#d9e4f1 23%,#dae5f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #edf4fd 0%,#d9e4f1 23%,#dae5f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf4fd', endColorstr='#dae5f2',GradientType=0 ); /* IE6-9 */
}

button:hover:not(:disabled) {
    background: #fef7dd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fef7dd 0%, #fef7f7 4%, #fef1e3 7%, #feeedf 11%, #ffe7cd 37%, #fce4ca 44%, #fcd68e 48%, #fbcf70 52%, #fbd179 56%, #fbe183 78%, #fbe686 81%, #fbec8e 85%, #fbf19d 89%, #fbf7bb 93%, #fefff1 96%, #fef3a2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef7dd), color-stop(4%,#fef7f7), color-stop(7%,#fef1e3), color-stop(11%,#feeedf), color-stop(37%,#ffe7cd), color-stop(44%,#fce4ca), color-stop(48%,#fcd68e), color-stop(52%,#fbcf70), color-stop(56%,#fbd179), color-stop(78%,#fbe183), color-stop(81%,#fbe686), color-stop(85%,#fbec8e), color-stop(89%,#fbf19d), color-stop(93%,#fbf7bb), color-stop(96%,#fefff1), color-stop(100%,#fef3a2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fef7dd 0%,#fef7f7 4%,#fef1e3 7%,#feeedf 11%,#ffe7cd 37%,#fce4ca 44%,#fcd68e 48%,#fbcf70 52%,#fbd179 56%,#fbe183 78%,#fbe686 81%,#fbec8e 85%,#fbf19d 89%,#fbf7bb 93%,#fefff1 96%,#fef3a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fef7dd 0%,#fef7f7 4%,#fef1e3 7%,#feeedf 11%,#ffe7cd 37%,#fce4ca 44%,#fcd68e 48%,#fbcf70 52%,#fbd179 56%,#fbe183 78%,#fbe686 81%,#fbec8e 85%,#fbf19d 89%,#fbf7bb 93%,#fefff1 96%,#fef3a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fef7dd 0%,#fef7f7 4%,#fef1e3 7%,#feeedf 11%,#ffe7cd 37%,#fce4ca 44%,#fcd68e 48%,#fbcf70 52%,#fbd179 56%,#fbe183 78%,#fbe686 81%,#fbec8e 85%,#fbf19d 89%,#fbf7bb 93%,#fefff1 96%,#fef3a2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fef7dd 0%,#fef7f7 4%,#fef1e3 7%,#feeedf 11%,#ffe7cd 37%,#fce4ca 44%,#fcd68e 48%,#fbcf70 52%,#fbd179 56%,#fbe183 78%,#fbe686 81%,#fbec8e 85%,#fbf19d 89%,#fbf7bb 93%,#fefff1 96%,#fef3a2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef7dd', endColorstr='#fef3a2',GradientType=0 ); /* IE6-9 */
}

#calc-pic {
    vertical-align: bottom;
}