<div class="container">
    <h2 class="text-center">
        Projects
        <a href="#/projects/add" ng-show="vm.identity.isAuthenticated()" class="btn btn-sm btn-primary pull-right">Create</a>
    </h2>

    <div ng-show="vm.identity.isAuthenticated()" class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="order-by" class="control-label">Order By</label>
                </div>
                <div>
                    <select class="form-control" required="required" ng-init="vm.request.OrderBy=''" ng-model="vm.request.OrderBy" id="order-by">
                        <option value="">Choose one...</option>
                        <option value="collaborators">Collaborators</option>
                        <option value="name">Name</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="order-type" class="control-label">Order Type</label>
                </div>
                <div>
                    <select class="form-control" required="required" ng-init="vm.request.OrderType=''" ng-model="vm.request.OrderType" id="order-type">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="user" class="control-label">User</label>
                </div>
                <div>
                    <input type="text" ng-model="vm.request.ByUser" class="form-control" id="user" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="name" class="control-label">Project Name</label>
                </div>
                <div>
                    <input type="text" ng-model="vm.request.Filter" class="form-control" id="name" />
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.identity.isAuthenticated()">
        <div class="col-md-3">
            <div class="col-md-6">
                <div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="public">
                                <input id="public" type="checkbox" ng-model="vm.request.OnlyPublic"> Public
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary pull-right" ng-click="vm.filterProjects()">Filter</button>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="col-md-2">
                <button class="btn btn-primary" ng-click="vm.prevPage()">&lt;&lt;</button>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <input type="number" ng-model="vm.request.Page" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        from
                    </div>
                    <div class="col-md-5">
                        <input type="number" ng-model="vm.request.PageSize" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" ng-click="vm.nextPage()">&gt;&gt;</button>
            </div>
        </div>
    </div>

    <br />

    <div ng-show="vm.projects && vm.projects.length > 0">
        <div all-projects>
        </div>
    </div>
    <div ng-hide="vm.projects && vm.projects.length > 0">
        <h2 class="text-center">No results!</h2>
    </div>
</div>