body, header, h1, section, article, img, p, form, input {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
    background-color: #eee;
    padding: 15px;
    width: 420px;
}

h1 {
    font-size: 1.3rem;
    font-weight: normal;
}

article {
    background-color: white;
    border: 2px solid #c7c7c7;
    margin: 7.1% 0;
    padding: 3.6%;
    min-height: 90px;
}

img {
    border: 2px solid #c7c7c7;
    float: left;
    margin-right: 15px;
}

p {
    margin-bottom: 15px;
}

form {
    margin-left: 63.5%;
}

input[name="Listen"] {
    background-image: url('../PIC/ButtonListen.png');
    width: 54%;
    height: 9%;
    color: white;
    padding: 5px 0px 5px 10px;
}

input[name="Add"] {
    background-image: url('../PIC/ButtonAdd.png');
    width: 43%;
    height: 9%;
    color: white;
    padding: 5px 0px 5px 10px;
}

.clearfix {
    zoom: 1;
}

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }