<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringCheckerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4153/StringCheckerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringCheckerService"
                contract="IStringCheckerService" name="BasicHttpBinding_IStringCheckerService" />
        </client>
    </system.serviceModel>
</configuration>