body, table, thead, tbody, tr, th, td
{
    margin: 0;
    padding: 0;
}

body
{
	background-color: #A9A9A9;
	font-size: 15px;
	font-family: "Times" serif;
}

header h1
{
	color: #fafad2;
	font-size: 2rem;
	text-align: center;
}

article header h1
{
	color: #fafad2;
	font-size: 1.5rem;
	text-align: left;
}

a
{
	text-decoration: none;
	color: #fff;
}

p a
{
	color: #000;
}

li
{
	list-style-type: none;
	text-align: center;
	font-size: 1.5rem;
}

li:hover
{
	text-decoration: underline;
}

a.current
{
	background-color: #d3d3d3;
}

article footer p
{
	font-size: 0.8rem;
	text-align: left;
}

body footer
{
	text-align: center;
}