
body, div, p
{
    margin: 0;
    padding: 0;
}


body
{
    background-color: #595959;
    font-family: "Arial", sans-serif;
	font-size: 16px;
}


p{
    display: inline-block;
}

div
{
    display: inline;
    font-weight: bold;
    width: 30rem;
}

div:first-child 
{
    color: white;
    font-style: italic;
    width: 10rem;
    float: left;
}

.toRight10rem
{
	margin-left: 10rem;
}

.bottomMargin
{
    display: block;
    margin-bottom: 1rem;
}

.grey 
{
    color: #AAA;
}


.red 
{
    color: red;
}


.orange 
{
    color: #D86833;
}


.shitty 
{
    color: #E3D8A3;
}

#circle 
{
    width: 14px;
    height: 14px;
    background: #71B47A;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}