body {
    font-family: Corbel;
}

img {
    height: 50px;
}

h1 {
    text-align: center;
}

#leftSection {
    float:left;
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    height: 378px;
    margin: 10px 10px;
}

#rightSection {
    font-size: 1.5em;
    float: left;
    height: 378px;
    margin: 10px 10px;
}
