<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayOfWeekService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/DayOfWeek" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDayOfWeekService"
                contract="DayOfWeekService.Proxy.IDayOfWeekService" name="BasicHttpBinding_IDayOfWeekService" />
        </client>
    </system.serviceModel>
</configuration>