body,
div,
ul,
li,
a,
table,
thead,
tr,
th,
td,
tbody {
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper {
  width: 960px;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
  color: black;
  padding: 15px;
}
#wrapper .tab-strip {
  border: 1px solid black;
  border-radius: 5px;
  width: 340px;
  height: 230px;
  position: relative;
}
#wrapper .tab-strip > li {
  display: inline-block;
  padding: 5px 15px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #ababab));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ededed 0%, #ababab 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ababab', GradientType=0);
  /* IE6-9 */
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
}
#wrapper .tab-strip > li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
}
#wrapper .tab-strip > li:hover {
  background-color: #eee;
}
#wrapper .tab-strip > li.current {
  font-weight: bold;
  border: 0;
  background-color: white;
}
#wrapper .tab-strip > li.current .tab-content {
  display: block;
}
#wrapper .tab-strip > li .tab-content {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  font-weight: normal;
  margin-left: 20px;
}
#wrapper .tab-strip > li .tab-content ul {
  list-style: disc;
}
#wrapper .tab-strip > li .tab-content ul ul {
  list-style-type: lower-alpha;
  margin-left: 25px;
}
#wrapper .tab-strip > li .tab-content table {
  width: 305px;
}
#wrapper .tab-strip > li .tab-content table tr {
  height: 30px;
}
#wrapper .tab-strip > li .tab-content table th {
  text-align: center;
  background: #ababab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ababab 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ababab 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ababab 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ababab 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ababab 0%, #eeeeee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */
}
#wrapper .tab-strip > li .tab-content table td {
  padding: 0 5px;
  background-color: #eee;
}
#wrapper .tab-strip > li .tab-content table,
#wrapper .tab-strip > li .tab-content th,
#wrapper .tab-strip > li .tab-content td {
  border: 1px solid black;
  border-collapse: collapse;
}
/*# sourceMappingURL=task2.css.map */