body,
div,
h1,
ul,
li,
span,
p,
input,
button {
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  width: 960px;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
  color: #555;
}
#wrapper {
  width: 350px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 30px;
  padding: 15px 15px 5px;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#aaaaaa', GradientType=0);
  /* IE6-9 */
}
#wrapper h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 10px;
}
#wrapper ul {
  list-style: none;
}
#wrapper ul li {
  border: 1px solid black;
  border-radius: 15px;
  width: 200px;
  height: 55px;
  margin: 0 0 5px;
  padding: 5px 15px 5px;
}
#wrapper ul li span {
  font-weight: bold;
  font-size: 1.1rem;
}
#wrapper ul li.me-item {
  float: right;
  clear: both;
  background: #29edff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #29edff 0%, #c0faff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29edff), color-stop(100%, #c0faff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #29edff 0%, #c0faff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #29edff 0%, #c0faff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #29edff 0%, #c0faff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #29edff 0%, #c0faff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29edff', endColorstr='#c0faff', GradientType=0);
  /* IE6-9 */
}
#wrapper ul li.me-item span.date {
  font-family: Consolas;
  font-size: 0.8rem;
  font-weight: normal;
  float: right;
}
#wrapper ul li.toshko-item {
  float: left;
  clear: both;
  background: #dfffd2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfffd2 0%, #6fff3b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfffd2), color-stop(100%, #6fff3b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfffd2 0%, #6fff3b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfffd2 0%, #6fff3b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfffd2 0%, #6fff3b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dfffd2 0%, #6fff3b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfffd2', endColorstr='#6fff3b', GradientType=0);
  /* IE6-9 */
}
#wrapper ul li.toshko-item span {
  text-align: right;
  float: right;
  margin-left: 150px;
}
#wrapper ul li.toshko-item p {
  float: left;
}
#wrapper ul li.toshko-item span.date {
  font-family: Consolas;
  font-size: 0.8rem;
  font-weight: normal;
  float: left;
  margin: 0;
}
#wrapper input {
  margin: 2px 0;
  width: 245px;
  height: 35px;
  border-radius: 5px;
  background-color: #eee;
  padding: 0 15px;
  color: #555;
}
#wrapper button {
  font-size: 1.1rem;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #afafaf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #afafaf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 0%, #afafaf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 0%, #afafaf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 0%, #afafaf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ededed 0%, #afafaf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#afafaf', GradientType=0);
  /* IE6-9 */
}
#wrapper button:hover {
  background-color: #eee;
}
/*# sourceMappingURL=task3.css.map */